/PANELFAR/bin/Debug/*
/PANELFAR/bin/Release/Assembly-CSharp.dll
/PANELFAR/bin/Release/Assembly-CSharp-firstpass.dll
/PANELFAR/bin/Release/UnityEngine.dll
/PANELFAR/obj/Debug/*
/PANELFAR/ipch/*
/PANELFAR_cpp/Release/*
/PANELFAR_cpp/Debug/*
/PANELFAR_cpp/PANELFAR.sdf